@import "constants";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.log,
.log_content,
.work,
.work_content,
.form,
.footer {
  padding: $space;
}

.wrap {
  height: 100vh;
  display: grid;
  grid-template-areas: "form work"
                       "log work"
                       "log work"
                       "log pagination";
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-columns: 300px 1fr;
  background-color: $color_bg;

}

.form {
  grid-area: form;

  &_item {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

}

.pagination {
  grid-area: pagination;
}

.work {
  grid-area: work;
  position: relative;

  &_content {
    overflow: auto;
    background-color: #fff;
    height: 100%;
  }

}

.log {
  grid-area: log;
  position: relative;

  &_content {
    overflow: auto;
    background-color: #fff;
    height: 100%;
  }

}