$space: 20px;

$color_link: #1976d2;
$color_link_active: #dc014e;

$color_error: #f44336;
$color_warning: #ff9800;
$color_info: #2196f3;
$color_success: #4caf50;

$color_bg: #f5f5f5;

$form_elem_size: 25px;