@import "constants";

.input {

  display: flex;
  align-items: center;
  justify-content: flex-start;

  .field {

    flex-grow: 1;

    input {
      width: 100%;
      height: $form_elem_size;
      padding-left: $space;
      padding-right: $space;
    }

  }

}

