@import "constants";

.list {

  &_item {

    &:not(first-child) {
      margin-top: 10px;
    }

    &:nth-child(2n+1) {
      background-color: rgba(#999, 0.1);
    }

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr;
    padding: 20px;

    &_title {
      color: green;
      word-break: break-all;

      a {
        color: $color_link;
      }

    }

    &_description {
      word-break: break-all;
    }

  }

}