@import "constants";

.pagination {

  button {
    width: $form_elem_size;
    border-radius: 100%;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:not(:disabled) {
      cursor: pointer;
    }

  }

}

